<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lugons.libre.view"
    android:versionCode="1"
    android:versionName="aplha" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/libre_logo"
        
        android:label=""
        android:theme="@style/Theme.MyApp.Default" >
        <activity
            android:name="GlavnaAktivnost"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.lugons.libre.view.LibreTim"
            android:label="@string/title_activity_display_message" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.lugons.libre.view.GlavnaAktivnost" />
        </activity>
        <activity
            android:name="org.lugons.libre"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="org.lugons.libre.view.GlavnaAktivnost" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.lugons.libre.view.GlavnaAktivnost" />
        </activity>
        
    </application>

</manifest>